.snippet-list-icons {
	list-style: none;
	margin-bottom: 20px;
	padding: 0;

	@include bp(md) {
		padding: 0 0 0 30px;
	}

	> li {
		display: table;
		margin-bottom: 30px;
		position: relative;

		&.wrap-img {
			min-height: 100px;
		}
	}

	img {
		margin-bottom: 20px;
		max-width: 100px;

		@include bp(md) {
			left: 0;
			margin: 0;
			position: absolute;
			top: 0;

			+ .content {
				display: table-cell;
				padding-left: 130px;
				vertical-align: middle;
			}
		}
	}
}
